/*---------------------------------------*/
/*-----// Feuille de style Booki //------*/
/*---------------------------------------*/
* {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --secondary-color: #5e9bf7;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*--------------------------- */
/*-----// Reset CSS //------- */
/*--------------------------- */
body {
  max-width: 1500px;
  margin: auto;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

/*---------------------------------*/
/*-----// Global Elements //-------*/
/*---------------------------------*/
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--main-color);
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
}

/*----------------------------------*/
/*-----------// Header //-----------*/
/*----------------------------------*/
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.site-header nav {
  flex-direction: column;
}

.site-header nav a {
  padding: 1.3em;
}

.site-header nav a:hover::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 0;
  background-color: var(--main-color);
  width: 100%;
  height: 2px;
  line-height: 20px;
}

.site-header ul {
  display: flex;
}

.site-header li {
  width: 100%;
  text-align: center;
}

.site-header .site-logo {
  width: 61px;
  margin: 1.3em 0;
}

/*--------------------------------*/
/*-----------// Main //-----------*/
/*--------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
}

.main-content .site-title {
  margin-bottom: 0.5rem;
  font-size: 22px;
  font-weight: 700;
}

.main-content .site-subtitle {
  font-size: 16px;
  font-weight: 700;
}

/*-----------------------------*/
/*-----// Search Form //-------*/
/*-----------------------------*/
.search-form {
  display: flex;
  margin-top: 1.25em;
  margin-bottom: 2.25em;
}

.search-form label {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  background-color: var(--main-bg-color);
}

.search-form .search-input {
  border: 2px #f2f2f2 solid;
  width: 275px;
  padding: 1rem;
}

.search-input::placeholder {
  font-weight: 700;
  color: black;
  font-size: 1rem;
}

.search-input::focus {
  outline: none;
  border: 2px var(--main-color) solid;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-form .search-button {
  background: var(--main-color);
  border: 0;
  border-radius: 0px 15px 15px 0px;
  color: #fff;
  cursor: pointer;
  min-width: 130px;
  font-size: 1rem;
  font-weight: 700;
  height: inherit;
}

.search-form .search-button i {
  display: none;
}

/*-----------------------------*/
/*-----// filters //-----------*/
/*-----------------------------*/
.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 50px;
  width: 760px;
  margin-bottom: 2rem;
  gap: 15px;
}

.filters h2 {
  font-size: 18px;
  font-weight: 700;
  align-content: center;
}

.filters button {
  background: none;
  border: 2px #d9d9d9 solid;
  border-radius: 25px;
  cursor: pointer;
  min-width: 130px;
  font-size: 0.9rem;
  font-weight: 700;
  height: inherit;
}

.filters button i {
  margin-right: 0.5rem;
  color: var(--main-color);
}

.filters button:hover {
  background-color: var(--filter-bg-color);
  color: var(--main-color);
}

/*-----------------------------*/
/*----// Property Offers //----*/
/*-----------------------------*/
/* General Container */
.general-container {
  display: flex;
  flex-direction: row;
}
.section-group-offers {
  display: block;
  flex-direction: column;
}

.property-popular {
  display: flex;
  flex-wrap: wrap;
}

.main-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-title {
  text-align: left;
}

.section-group-sponsored {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

.sponsored-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsored-title i {
  color: var(--main-color);
  size: 1rem;
}

/*-----------------------------*/
/*----// Property Card //------*/
/*-----------------------------*/
.property-card {
  overflow: hidden;
  box-shadow: 0 5rem 8rem rgba(0, 0, 0, 0.07);
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.property-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.property-card h2 {
  font-size: 18px;
}

.property-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/*-----------------------------*/
/*--------// Footer //---------*/
/*-----------------------------*/

footer {
  padding: 1rem;
}
.footer-container {
  display: block;
  flex-direction: column;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright {
  text-align: center;
}

/*-----------------------------*/
/*----// Media Quaries //------*/
/*-----------------------------*/
@media screen and (max-width: 450px) {
  body {
    padding: 0;
  }

  /*----------------------------------*/
  /*-----------// Header //-----------*/
  /*----------------------------------*/
  .site-header {
    flex-direction: column;
  }

  .site-header nav {
    display: flex;
    width: 100%;
  }

  .site-header li {
    padding: 1.3rem;
  }

  /*--------------------------------*/
  /*-----------// Main //-----------*/
  /*--------------------------------*/
  .main-section .site-title {
    text-align: center;
  }

  .main-section .site-subtitle {
    text-align: center;
  }

  /*-----------------------------*/
  /*-----// Search Form //-------*/
  /*-----------------------------*/
  .search-form .search-button span {
    display: none;
  }
  .search-form .search-button i {
    display: inline;
  }
}
