/*---------------------------------------*/
/*-----// Feuille de style Booki //------*/
/*---------------------------------------*/
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --secondary-color: #5e9bf7;
}

/*--------------------------- */
/*-----// Reset CSS //------- */
/*--------------------------- */
html body {
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

/*---------------------------------*/
/*-----// Global Elements //-------*/
/*---------------------------------*/
a {
  text-decoration: none;
}

a:hover {
  color: var(--main-color);
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/*------------------------------------*/
/*---------// Global Input //---------*/
/*------------------------------------*/
input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}

input::placeholder {
  color: var(--secondary-color);
}

input:focus {
  outline: none;
  border-color: var(--main-color);
}

/*--------------------------------*/
/*-----------// Main //-----------*/
/*--------------------------------*/
main {
  display: flex;
}

/*----------------------------------*/
/*-----------// Header //-----------*/
/*----------------------------------*/
header {
  margin: 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  padding: 1rem;
  margin: 0 auto;
  width: auto;
  display: block;
}

/*-----------------------------*/
/*-----// Header Navbar //-----*/
/*-----------------------------*/
nav a {
  color: black;
}
.header-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.header-nav .active {
  color: var(--main-color);
  line-height: 70px;
}

.header-nav a:hover {
  color: var(--secondary-color);
}

/*-----------------------------*/
/*-----// Header Navbar //-----*/
/*-----//  Blue Line    //-----*/
.header-nav a.active::before {
  color: var(--secondary-color);
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  bottom: 0; /* Mobile First */
}

.navigation-bar {
  height: 70px;
  width: 100%;
}

/* Search-bar */
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 0.5rem;
  border-radius: 0;
  width: 200px;
}

.search-bar .preppend {
  padding: 0.5rem;
  border-radius: 0.75rem 0 0 0.75rem;
  background-color: var(--secondary-bg-color);
}

.search-bar .search-button {
  background: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  padding: 0.5rem 1rem;
  border-radius: 0 0.75rem 0.75rem 0;
  cursor: pointer;
}

.btn-search-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

/* Filter-Bar */
.filter-bar {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.filter-bar button {
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
  border-color: var(--filter-bg-color);
  cursor: pointer;
  font-size: 1rem;
}

.filter-bar button i {
  margin-right: 0.5rem;
  color: var(--main-color);
}

.filter-bar button .btn-active {
  background-color: var(--main-color);
}

/* General Container */
.general-container {
  display: flex;
  flex-direction: row;
}

/* Property offers */
.section-group-offers {
  display: block;
  flex-direction: column;
}

.property-popular {
  display: flex;
  flex-wrap: wrap;
}

.main-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-title {
  text-align: left;
}

.section-group-sponsored {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #666;
}

.sponsored-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsored-title i {
  color: var(--main-color);
  size: 1rem;
}

/*-----------------------------*/
/*----// Property Card //------*/
/*-----//  Blue Line    //-----*/

/* Property Card */
.property-card {
  overflow: hidden;
  box-shadow: 0 5rem 8rem rgba(0, 0, 0, 0.07);
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.property-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.property-card h2 {
  font-size: 18px;
}

.property-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/*-----------------------------*/
/*--------// Footer //---------*/
/*-----------------------------*/

footer {
  padding: 1rem;
}

footer a {
  text-decoration: none;
  color: black;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.copyright {
  text-align: center;
}

/*-----------------------------*/
/*----// Media Quaries //------*/
/*-----------------------------*/
@media screen and (min-width: 600px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
  }

  .logo {
    margin: 0;
  }

  .header-nav a.active::before {
    top: 0;
  }
}
